{% extends 'base.html' %}
{% block content %}
{% load static %}
<header class="masthead bg-index text-white text-center py-4">
  <div class="container d-flex align-items-center flex-column pt-2">
      <h2 class="title-main-header">Movies Store</h2>
      <p><i>Your Ticket to Unlimited Entertainment!</i></p>
      <div class="title-text-body">
          <img src="{% static 'img/titleImage.jpg' %}" class="home-image" alt="about" />
          <p>Welcome to Movies Store, your premier online destination for a cinematic
            adventure like no other! Dive into the world of movies from the comfort of your own home with our user-friendly
            and immersive online movie store.
          </p>
      </div>
  </div>
</header>
{% endblock content %}


